<launch>
  <!-- Load robot description from URDF -->
  <param name="robot_description" command="xacro $(find iroc_auto)/urdf/my_urdf.urdf" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

  <!-- Spawn robot into the simulation -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -model iroc_rover -param robot_description -x 0 -y 0 -z 0" />
  
  <!-- <rosparam file="$(find iroc_auto)/controller/joint_state_controller.yaml" command="load"/> -->
  <!-- <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/> -->
   <include file="$(find iroc_auto)/launch/controller.launch"/>

</launch>
